body{
    font-family: monospace;
    background-color: #786d6d;
    color: whitesmoke
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.contenedor div{
    background-color: #4c4747;
    border: 2px solid black;
}